body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}


.header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
  color: #fff;
  background-color: #466696;
  width: 100%;
  height: 3.3em;
  display: table;
  margin: 0 auto;
}

.header ul.horizontal {
  padding: 0;
  margin: auto;
  height: inherit;
  min-width: 696px;
  list-style: none;
}

.header ul.horizontal li {
  display: inline;
}

.header ul.horizontal li a,
.header ul.horizontal li a:hover {
  -webkit-app-region: no-drag;
  position: relative;
  display: inline-block;
  margin: 12px;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}

.header ul.horizontal li a.active:after,
.header ul.horizontal li a:hover.active:after {
  top: 100%;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 10px solid rgba(255, 255, 255, 0);
  border-bottom-color: #fafafa;
  margin-left: -10px;
}
